body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0f1a;
    color: white;
}


/* NAV */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #000;
}

.logo {
    letter-spacing: 3px;
}


/* HERO */

.hero {
    text-align: center;
    padding: 90px 20px;
    background: linear-gradient(135deg, #000, #111827);
}

.hero h1 {
    font-size: 40px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    background: #22c55e;
    color: white;
    text-decoration: none;
}


/* TRUST */

.trust {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background: #000;
}


/* SHOP */

.shop {
    padding: 40px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: #111827;
    padding: 15px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.stock {
    color: #f87171;
    font-size: 14px;
}


/* BUTTON */

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #22c55e;
    border: none;
    cursor: pointer;
}


/* WHY US */

.trust-2 {
    text-align: center;
    padding: 40px;
}


/* ABOUT */

.about {
    text-align: center;
    padding: 40px;
    background: #111827;
}


/* FOOTER */

footer {
    text-align: center;
    padding: 20px;
    background: #000;
}